@charset "utf-8";
@import url(../css/sitepop.css);

@-webkit-keyframes obj1 {

    0%,
    20%,
    60%,
    100% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }

    40% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}

@keyframes obj1 {

    0%,
    20%,
    60%,
    100% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }

    40% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
}


button {
    font-family: 'Noto Sans CJK KR', 'Noto Sans KR', 'Noto Sans EOT', SimHei, Sans-serif, '맑은고딕', 'Malgun Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "FangSong", "仿宋", STFangSong, "华文仿宋", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleGothic, Dotum, arial, sans-serif
}

.clear {}

.clear:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

.more {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 0;
}

.more a:before,
.more a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.more a:before {
    width: calc(100%/2);
    height: 1px;
    background: #b2b2b2;
}

.more a:after {
    width: 1px;
    height: calc(100%/2);
    background: #b2b2b2;
}

button[data-control] {
    position: relative;
    display: inline-block;
    margin: 0 -4px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    overflow: hidden;
}

button[data-control]:before,
button[data-control]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

button[data-control="prev"]:before,
button[data-control="next"]:before {
    width: calc(100%/2.5);
    height: calc(100%/2.5);
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    transform: rotate(45deg);
}

button[data-control="prev"]:before {
    right: -5px;
    border-width: 0 0 2px 2px;
}

button[data-control="next"]:before {
    left: -5px;
    border-width: 2px 2px 0 0;
}

button[data-control="stop"]:before {
    width: 2px;
    height: calc(100%/2);
    box-shadow: -3px 0 #333, 3px 0 #333;
}

button[data-control="play"]:before {
    right: -5px;
    width: 0;
    height: 0;
    border-width: 10px 0 10px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

#body_layout {
    position: relative;
    width: 100%;
}

#middle {
    display: none;
}

.mainpop {}

.mainpop>div {
    z-index: 99999 !important;
}

.mainpop>div .pop_bg {}

.mainpop>div .pop_bg .pop_con_box {}

.mainpop>div .pop_bg .pop_con_box img {}

.mainpop>div .pop_bt_bg {
    padding: 5px 20px;
    background: #eee
}

.mainpop>div .pop_bt_bg:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

.mainpop>div .pop_bt_bg .pop_font {
    display: inline-block;
    float: left;
}

.mainpop>div .pop_bt_bg .pop_font a {
    display: block;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}

.mainpop>div .pop_bt_bg .pop_close {
    display: inline-block;
    float: right;
}

.mainpop>div .pop_bt_bg .pop_close a {
    display: block;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}



.layout {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.layout:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

#top_layout {
    display: block;
    position: relative;
    z-index: 997;
    width: 100%;
    height: 82px;
    text-align: center;
}

#top_layout.on {
    z-index: 9998;
}

#top_layout .top_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#top_layout .top_wrap #logo {
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 999;
}

#top_layout .top_wrap #logo a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 24.5px 0 0;
}

#top_layout .top_wrap #logo span {
    display: inline-block;
    width: 130px;
    height: 33px;
    margin-right: 5px;
    background: url(../images/logo2.png)no-repeat;
    background: url(../images/logo2.svg)no-repeat;
    font-size: 0;
    vertical-align: top;
}

#top_layout .top_wrap #logo em {
    display: inline-block;
    margin-left: 8px;
    position: relative;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    vertical-align: top;
    letter-spacing: -0.05em;
}

/*#top_layout .top_wrap #logo em:before {display:inline-block;width:4px;height:4px;margin: -4px 10px 0 13px;border-radius:50%;background: #fff;content:'';vertical-align:middle;}*/
#top_layout .top_wrap .right_utile {
    position: absolute;
    right: 40px;
    z-index: 999;
    height: 100%;
}

#top_layout .top_wrap .utile_wrap {
    display: inline-block;
    z-index: 3;
    height: 100%;
    padding: 20.5px 0 0;
    vertical-align: top;
}

#top_layout .top_wrap .utile_wrap:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

#top_layout .top_wrap .utile_wrap li {
    float: left;
    margin: 0 15px 0 0;
}

#top_layout .top_wrap .utile_wrap li a {
    display: block;
    line-height: 1;
    vertical-align: top;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    font-family: 'Arial';
}

#top_layout .top_wrap .utile_wrap li a span {
    display: block;
    position: relative;
    width: 28px;
    height: 26px;
    margin: 0 auto 5px;
    background: url(../images/until_icon.png)no-repeat;
}

#top_layout .top_wrap .utile_wrap li.n3 a span {
    background-position: -56px -26px;
}

#top_layout .top_wrap .utile_wrap li.n3 a span:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 11px;
    height: 13px;
    background: url(../images/until_icon2.png)no-repeat;
    -webkit-animation: obj1 3s ease infinite;
    animation: obj1 3s ease infinite;
}

#top_layout .top_wrap .utile_wrap li .clickOpen_lang {
    position: relative;
}

#top_layout .top_wrap .utile_wrap li .clickOpen_lang>button {
    display: block;
    line-height: 1;
    vertical-align: top;
    font-size: 10px;
    font-weight: 700;
    color: #292727;
    font-family: 'Arial';
}

#top_layout .top_wrap .utile_wrap li .clickOpen_lang>button span {
    display: block;
    width: 28px;
    height: 26px;
    margin: 0 auto 5px;
    background: url(../images/until_icon.png)no-repeat -28px 0;
}

#top_layout .top_wrap .utile_wrap li .clickOpen_lang>div {
    display: none;
}

#top_layout .top_wrap .utile_wrap li .clickOpen_lang.on>div {
    display: block;
}

#top_layout .top_wrap .utile_wrap li.mo {
    display: none;
}

#top_layout .top_wrap .utile_wrap li.n5 {
    display: block;
    width: 27px;
    height: 100%;
    margin: 0 0 0 0;
}

#top_layout .top_wrap .utile_wrap li.n5 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/menu3.png)no-repeat center 10px;
    background-size: 27px auto;
    font-size: 0;
}

#top_layout .top_wrap .popbtn {
    display: inline-block;
    vertical-align: top;
}

#top_layout .top_wrap .popbtn>.button {
    display: block;
    width: 88px;
}

#top_layout .top_wrap .popbtn>.button a {
    display: block;
    position: relative;
    width: 100%;
    line-height: 26px;
    padding: 0;
    margin: 28px 0 0;
    border-radius: 30px;
    /* background: #fff; */
    /* background: -webkit-linear-gradient(-45deg, #8c1d33, #ac2b43); */
    /* background: linear-gradient(-45deg, #8c1d33, #ac2b43); */
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#top_layout.on .top_wrap .popbtn>.button a,
.sub #top_layout .top_wrap .popbtn>.button a {
    color: #100608;
}

#top_layout .top_wrap .popbtn>.button a:after {
    display: block;
    position: absolute;
    right: 13px;
    bottom: 1px;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #d9203a;
}

#top_layout .top_wrap .popbtn>.button a span {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -5px 0 0 0;
    border-radius: 50%;
    background: #d9203a;
    color: #fff;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}

#top_layout.on+.gnb_bg {
    display: block;
}

#top_layout+.gnb_bg {
    display: none;
    position: fixed;
    top: 82px;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    content: '';
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}


.main #top_layout .top_wrap .utile_wrap li a {
    color: #fff;
}

.main #top_layout .top_wrap .utile_wrap li.n1 a span {
    background-position: 0 -26px;
}

.main #top_layout.on .top_wrap .utile_wrap li.n1 a span {
    background-position: 0 0;
}

#gnb_layout {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    background-color: transparent;
    transition: all 0.01s ease-out;
    -webkit-transition: all 0.01s ease-out;
}

.userMs #gnb_layout {
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
}

#gnb_layout:after {
    position: absolute;
    top: 82px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8 url(../images/gnb_bg.jpg)no-repeat right bottom;
    content: "";
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

#gnb_layout.open {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

#gnb_layout.action {
    position: relative;
    background-color: #fff;
}

#gnb_layout .layout {
    position: relative;
}

#gnb {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 82px;
    min-height: 82px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background: transparent;
}

#top_layout.on #gnb,
.sub #gnb {
    border-bottom: 1px solid #e4e4e4;
}

#gnb_layout .depth1_ul {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}

#gnb_layout .depth1_ul:after {
    display: block;
    content: '';
    clear: both;
}

#gnb_layout .depth1_ul>li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#gnb_layout.open .depth1_ul {}

#gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title {}

#gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title strong {
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: #100608;
    text-align: left;
}

.userMs #gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title strong {
    font-size: 18px;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title p {
    display: none;
}

#gnb .gnb_wrap>.depth1_ul>li>a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#gnb .gnb_wrap>.depth1_ul>li>a>span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 82px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.02em;
}

#gnb .gnb_wrap>.depth1_ul>li>.item {
    position: absolute;
    padding: 30px 25px 0;
    border-right: 1px solid #e4e4e4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#gnb .gnb_wrap>.depth1_ul>li:last-child>.item {
    border: none;
}

#gnb .gnb_wrap>.depth1_ul.n4>li>.item {
    width: 25%;
}

#gnb .gnb_wrap>.depth1_ul.n4>li.n1>.item {
    left: 0;
}

#gnb .gnb_wrap>.depth1_ul.n4>li.n2>.item {
    left: 25%;
}

#gnb .gnb_wrap>.depth1_ul.n4>li.n3>.item {
    left: 50%;
}

#gnb .gnb_wrap>.depth1_ul.n4>li.n4>.item {
    left: 75%;
}

#gnb .gnb_wrap>.depth1_ul.n5>li>.item {
    width: 20%;
}

#gnb .gnb_wrap>.depth1_ul.n5>li.n1>.item {
    left: 0;
}

#gnb .gnb_wrap>.depth1_ul.n5>li.n2>.item {
    left: 20%;
}

#gnb .gnb_wrap>.depth1_ul.n5>li.n3>.item {
    left: 40%;
}

#gnb .gnb_wrap>.depth1_ul.n5>li.n4>.item {
    left: 60%;
}

#gnb .gnb_wrap>.depth1_ul.n5>li.n5>.item {
    left: 80%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li>.item {
    width: 16.66%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n1>.item {
    left: 0;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n2>.item {
    left: 16.66%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n3>.item {
    left: 33.32%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n4>.item {
    left: 49.98%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n5>.item {
    left: 66.64%;
}

#gnb .gnb_wrap>.depth1_ul.n6>li.n6>.item {
    left: 83.3%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li>.item {
    width: 14.285714%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n1>.item {
    left: 0;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n2>.item {
    left: 14.285714%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n3>.item {
    left: 28.5714%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n4>.item {
    left: 42.85714%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n5>.item {
    left: 57.152856%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n6>.item {
    left: 71.438570%;
}

#gnb .gnb_wrap>.depth1_ul.n7>li.n7>.item {
    left: 85.724284%;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul {
    height: 100%;
    margin-top: 20px;
    padding: 5px 0 50px;
    border-top: 1px solid #2e2e2f;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li {}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a {
    display: block;
    position: relative;
    padding: 10px 0;
    font-size: 15px;
    color: #100608;
    text-align: left;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:after {
    opacity: 0;
    position: absolute;
    left: -25px;
    right: -25px;
    top: 0;
    z-index: 1;
    content: '';
    width: auto;
    height: 100%;
    background: #bf2043;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:hover,
#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:focus {
    color: #fff;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:hover:before,
#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:focus:before {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-radius: 50%;
    background: #fff;
    content: '';
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:hover:after,
#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:focus:after {
    opacity: 1;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a>span {
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li .depth3_ul {
    display: none;
}

#gnb_layout .depth1_ul>li.on>a>span {
    color: #cd002d;
}

#gnb .gnb_wrap>.depth1_ul>li.on>.item {
    background: #fff;
}

#gnb .gnb_wrap>.depth1_ul>li.on>.item .gnb-title strong {
    color: #cd002d;
}

#gnb .gnb_wrap>.depth1_ul>li.on>.item .depth2_ul {
    border-top: 1px solid #fff;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:hover>span,
#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:focus>span {
    font-weight: 700;
}

#floatMenu {
    position: absolute;
    right: 40px;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#floatMenu>ul {}

#floatMenu>ul>li {
    margin: 0 0 10px;
}

#floatMenu>ul>li .quick {}

#floatMenu>ul>li .quick.on {}

#floatMenu>ul>li .quick>button {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #898d94;
    background: #fff;
    font-weight: 700;
    color: #1d273a;
    font-size: 15px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

#floatMenu>ul>li .quick>button span {
    font-size: 0;
}

#floatMenu>ul>li .quick>div {
    display: none;
    position: absolute;
    top: 0;
    right: 70px;
    width: 450px;
    padding: 40px;
    background: #1d273a;
}

#floatMenu>ul>li .quick.on>div {
    display: block;
}

#floatMenu>ul>li .quick>div .clickClose {
    display: block;
    position: absolute;
    right: -110px;
    width: 70px;
    height: 64px;
    border-radius: 0 50% 50% 0;
    background: #1d273a;
    font-size: 0;
    text-align: right;
}

#floatMenu>ul>li .quick.n1>div .clickClose {
    top: -40px;
}

#floatMenu>ul>li .quick.n2>div .clickClose {
    top: 34px;
}

#floatMenu>ul>li .quick.n3>div .clickClose {
    top: 108px;
}

#floatMenu>ul>li .quick.n4>div .clickClose {
    top: 182px;
}

#floatMenu>ul>li .quick>div .clickClose span {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

#floatMenu>ul>li .quick>div .clickClose span:before,
#floatMenu>ul>li .quick>div .clickClose span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#floatMenu>ul>li .quick>div .clickClose span:before {
    width: 100%;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#floatMenu>ul>li .quick>div .clickClose span:after {
    width: 2px;
    height: 100%;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#floatMenu>ul>li .quick>div .inner {
    position: relative;
}

#floatMenu>ul>li .quick>div .inner .tit {
    display: block;
    position: relative;
    margin: 0 0 30px;
}

#floatMenu>ul>li .quick>div .inner .tit span {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 20px;
    background: #1d273a;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#floatMenu>ul>li .quick>div .inner .tit:after {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    content: '';
    width: auto;
    height: 2px;
    margin-top: -1px;
    background: #fff;
}

#floatMenu>ul>li .quick>div .inner>ul {
    margin: 0 -5px;
}

#floatMenu>ul>li .quick>div .inner>ul:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

#floatMenu>ul>li .quick>div .inner>ul>li {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px 10px;
}

#floatMenu>ul>li .quick>div .inner>ul>li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
    border: 1px solid #69717f;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#floatMenu>ul>li .quick>div .inner>ul>li a:hover,
#floatMenu>ul>li .quick>div .inner>ul>li a:focus {
    border: 1px solid #efbf2e;
    background: #efbf2e;
    color: #1d273a;
    font-weight: 700;
}

#floatMenu>ul>li>button {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #1d273a url(../images/top.png)no-repeat center;
    font-size: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}


#top_layout.on .top_wrap #logo span,
body.sub #top_layout .top_wrap #logo span {
    background-image: url(../images/logo.png);
    background-image: url(../images/logo.svg);
}

#top_layout.on .top_wrap #logo em:before,
body.sub #top_layout .top_wrap #logo em:before {
    background: #100608;
}

#top_layout.on .top_wrap #logo em,
body.sub #top_layout .top_wrap #logo em {
    color: #100608;
}

#top_layout.on .top_wrap .utile_wrap li a,
body.sub #top_layout .top_wrap .utile_wrap li a {
    color: #292727;
}

#top_layout.on .top_wrap .utile_wrap li.n3 a span,
body.sub #top_layout .top_wrap .utile_wrap li.n3 a span {
    background-position: -56px 0;
}

#top_layout.on .top_wrap .utile_wrap li.n5 a,
body.sub #top_layout .top_wrap .utile_wrap li.n5 a {
    background-image: url(../images/menu2.png);
}

#top_layout.on #gnb,
body.sub #top_layout #gnb {
    border-bottom: 1px solid #e4e4e4;
    background: #fff;
}

#top_layout.on #gnb .gnb_wrap>.depth1_ul>li>a>span,
body.sub #top_layout #gnb .gnb_wrap>.depth1_ul>li>a>span {
    color: #190d0f;
}

#top_layout.on #gnb_layout .depth1_ul>li.on>a>span,
body.sub #top_layout.on #gnb .gnb_wrap>.depth1_ul>li.on>a>span {
    color: #cd002d;
}



/* target="_blank" 아이콘 추가 */
#gnb_layout .depth1_ul>li>a[target="_blank"] span:after {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -2px 0 0 5px;
    background: url(../images/blank.png) no-repeat;
    border: 0;
    transform: none;
    content: '';
    vertical-align: middle;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a[target="_blank"]>span:after {
    display: inline-block;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0 0 0 5px;
    background: url(../images/blank.png) no-repeat;
    border: 0;
    transform: none;
    content: '';
    vertical-align: middle;
}

#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a[target="_blank"]:hover>span:after,
#gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a[target="_blank"]:focus>span:after {
    background: url(../images/blank2.png) no-repeat;
}


@media screen and (max-width:1479px) {
    .layout {
        max-width: 100%;
        padding: 0 40px;
    }

    #gnb .gnb_wrap>.depth1_ul>li>a>span {
        padding: 0 20px;
        font-size: 17px;
    }

    #gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title strong {
        font-size: 17px;
    }
}

@media screen and (max-width:1279px) {
    #top_layout .top_wrap #logo span {
        width: 27px;
    }

    #top_layout .top_wrap #logo em {
        line-height: 33px;
        font-size: 18px;
    }

    /*#top_layout .top_wrap #logo em:before {width: 3px;height: 3px;}*/

    #gnb .gnb_wrap>.depth1_ul>li>a>span {
        padding: 0 15px;
        font-size: 17px;
    }

    #gnb .gnb_wrap>.depth1_ul>li>.item {
        padding: 30px 15px 0;
    }

    #gnb .gnb_wrap>.depth1_ul>li>.item .gnb-title strong {
        font-size: 17px;
    }

    #gnb .gnb_wrap>.depth1_ul>li>.item .depth2_ul>li>a:after {
        left: -15px;
        right: -15px;
    }

    #floatMenu {
        display: none;
    }
}

@media screen and (max-width:1023px) {
    .layout {
        max-width: 100%;
        padding: 0 25px;
    }

    #top_layout:before {
        display: block;
        position: absolute;
        content: '';
        z-index: 3;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, .2);
    }

    #top_layout .top_wrap #logo {
        left: 25px;
    }

    #top_layout .top_wrap #logo span {
        width: 130px;
    }

    /*#top_layout .top_wrap #logo em:before {display: inline-block;width: 3px;height: 3px;margin: -4px 10px 0 13px;}*/
    #top_layout .top_wrap .right_utile {
        right: 25px;
    }

    #top_layout .top_wrap .utile_wrap {
        padding: 0;
    }

    #top_layout .top_wrap .utile_wrap li {
        display: none;
        margin: 0;
    }

    #top_layout .top_wrap .utile_wrap li.pc,
    #top_layout .top_wrap .utile_wrap li.n5 {
        display: none;
    }

    #top_layout .top_wrap .utile_wrap li.mo {
        display: block;
        width: 50px;
        height: 100%;
    }

    #top_layout .top_wrap .utile_wrap li.mo button {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/menu3.png)no-repeat center;
        background-size: 25px auto;
        font-size: 0;
    }

    .sub #top_layout .top_wrap .utile_wrap li.mo button {
        background-image: url(../images/menu2.png);
    }

    #top_layout.on+.gnb_bg {
        display: none;
    }

    #gnb_layout {
        display: none !important;
    }

    .modal-open #top_layout .top_wrap #logo {
        z-index: -1;
    }

    #top_layout .top_wrap .popbtn>.button {
        width: 78px;
    }

    #top_layout .top_wrap .popbtn>.button a {
        width: 100%;
    }

    #top_layout .top_wrap .popbtn>.button a:after {
        right: 9px;
    }
}

@media screen and (max-width:767px) {
    #top_layout {
        height: 70px;
    }

    #top_layout .top_wrap #logo span {
        width: 100px;
        height: 26px;
        background-size: 100px auto;
    }

    #top_layout .top_wrap #logo em {
        line-height: 22px;
        font-size: 16px;
    }

    /*#top_layout .top_wrap #logo em:before {margin: -4px 5px 0 8px;}*/
    #top_layout .top_wrap .utile_wrap li {
        margin: 0;
    }

    #top_layout .top_wrap .utile_wrap li.mo button {
        background-size: 20px auto;
    }

    #top_layout .top_wrap .popbtn>.button {
        width: 50px;
        height: auto;
        padding: 0;
        font-size: 0;
    }

    #top_layout .top_wrap .popbtn>.button a {
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        margin: 21px 0 0;
        font-size: 12px;
    }

    #top_layout .top_wrap .popbtn>.button a:after {
        display: none;
    }

    #top_layout .top_wrap .popbtn>.button a span {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: -4px 0 0 1px;
    }
}

@media screen and (max-width:430px) {
    #top_layout .top_wrap #logo span {
        width: 22px;
        height: 26px;
        background-size: 100px auto;
    }
}


/* mobile menu */

#mobile-menu {
    overflow: visible;
    z-index: 999;
}

#mobile-menu .modal-dialog {
    position: relative;
    top: 0;
    right: 0;
    z-index: 99999;
    float: right;
    width: 95%;
    max-width: 500px;
    height: 100%;
    margin: 0;
    border-radius: 0;
    -webkit-transform: translate(25%, 0);
    transform: translate(25%, 0);
}

#mobile-menu.in .modal-dialog,
#mobile-menu.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#mobile-menu .modal-dialog .mo_top_untill {
    height: 80px;
    background: #ac1d3d;
    text-align: right;
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap {
    display: inline-block;
    z-index: 3;
    height: 100%;
    padding: 0 70px 0 0;
    vertical-align: top;
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap:after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap li {
    float: left;
    margin: 0 15px;
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap li a {
    display: block;
    line-height: 1;
    padding: 20px 0 0;
    vertical-align: top;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    font-family: 'Arial';
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap li a span {
    display: block;
    position: relative;
    width: 28px;
    height: 26px;
    margin: 0 auto 5px;
    background: url(../images/until_icon.png)no-repeat;
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap li.n3 a span {
    background-position: -56px -26px;
}

#mobile-menu .modal-dialog .mo_top_untill .utile_wrap li.n3 a span:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 11px;
    height: 13px;
    background: url(../images/until_icon3.png)no-repeat;
    -webkit-animation: obj1 3s ease infinite;
    animation: obj1 3s ease infinite;
}

#mobile-menu .modal-dialog .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#mobile-menu .modal-dialog .modal-content .modal-body {
    position: static;
    height: 100%;
    padding: 0;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #ac1d3d url(../images/mgnb_bg.png)no-repeat right bottom;
    text-align: left;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li {
    position: relative;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a {
    display: block;
    padding: 10px 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a:after {}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a.ov {
    padding: 15px 25px;
    background: #fff;
    color: #100608;
    font-weight: 700;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a.ov:after {
    border-width: 0 1px 1px 0;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a span {
    display: inline-block;
    position: relative;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a.ov span:after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    margin: -4px 0 0 10px;
    border-radius: 50%;
    background: #9d1a37;
    vertical-align: middle;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>a[target="_blank"] span:after {
    display: inline-block;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
    background: url(../images/blank2.png) no-repeat;
    border: 0;
    transform: none;
    content: '';
    vertical-align: middle;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul>li>.item .gnb-title {
    display: none;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul {
    margin: 0 0 15px;
    padding: 10px 0;
    background: #49101d;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li {}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a {
    display: block;
    position: relative;
    padding: 10px 25px;
    color: #fff;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a.ov span,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a:hover span,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a:focus span {
    text-decoration: underline;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a span {
    display: inline-block;
    position: relative;
    padding-left: 12px;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a span:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 5px;
    height: 1px;
    background: #fff;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul>li>a[target="_blank"] span:after {
    display: inline-block;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
    background: url(../images/blank2.png) no-repeat;
    border: 0;
    transform: none;
    content: '';
    vertical-align: middle;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul {
    display: none;
    padding: 10px 0;
    background: #eceeef;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul>li {
    position: relative;
    margin: 8px 0;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul>li:after {
    display: block;
    position: absolute;
    left: 35px;
    top: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #9e9f9f;
    content: '';
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul>li>a {
    display: block;
    padding-left: 45px;
}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul>li>a span {
    display: block;
    font-size: 15px;
    color: #000;
}

#mobile-menu .mobile-close {
    position: absolute;
    top: -53.5px;
    right: 30px;
}

#mobile-menu .mobile-close span {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    font-size: 0;
}

#mobile-menu .mobile-close span:before,
#mobile-menu .mobile-close span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#mobile-menu .mobile-close span:before {
    width: 100%;
    height: 1px;
    background: #fff;
}

#mobile-menu .mobile-close span:after {
    width: 1px;
    height: 100%;
    background: #fff;
}

.modal-backdrop.in {
    opacity: .8;
    z-index: 998;
}